@charset "ISO-8859-1";

#heading, #menu
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color:#001a33;
}

body
{
	-background-image: url("../Images/bg.jpg");
	background: linear-gradient(to bottom, #ffffe6, #ffeb99);
	background-size: 100%;
	background-repeat: no-repeat;
	background-origin: padding-box;
	font-family: Arial, Helvetica, sans-serif;
	color:#001a33;
	background-size: 120%;
}

ul
{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #001a33;
}

li
{
    float: left;
	display: block;
    color: white;

}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: red;
}

p.sysnot
{
	width: 1450px;
	border: 1px solid gray;
	box-shadow: 2px 3px 3px #888;
	border-top: 2px solid #001a33;
	min-height: 40px;
	padding: 10px;
	margin: 10px;
	margin-left: 60px;
}

.tab { margin-left: 40px; }

.ltime { color: red;}

html {
  background: linear-gradient(to bottom, #ffffe6, #ffeb99);
	height: 100%;
}
